<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>

  <% if (!locals.user.monzo) { %>
    <a href="<%=monzoAuthURL %>">Connect Monzo</a>
  <% } %>

  <% if (!user.crunch_access_token) { %>
    <a href="#">Connect Crunch</a>
  <% } %>

</body>
</html>
