<% include partials/head.ejs %>
<script src="https://cdn.auth0.com/js/lock-passwordless-2.2.min.js"></script>
<script type="text/javascript">
  function login(){
    // Initialize Passwordless Lock instance
    var lock = new Auth0LockPasswordless('<%-process.env.AUTH0_CLIENT_ID %>', '<%-process.env.AUTH0_DOMAIN %>');
    lock.magiclink( {callbackURL: '<%-process.env.AUTH0_CALLBACK_URL %>'} );
  }
  login();
</script>
<a href="javascript:login()">Login</a>
<% include partials/scripts.ejs %>
